@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

.full-bg-img {
  position: relative;
  width: 100%;
  height: 100%;
}
.banner_uno {
  background-image: url("../../images/slider/ban.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.list-style {
  list-style: none;
}

.data-title {
  position: absolute;
  left: 15%;
  top: 20%;
}
.data-sutitile {
  position: absolute;
  left: 60%;
  bottom: 6%;
}

.background-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
